
  body {
	padding-top: 50px;  
  }
  
  #hoverdrop >li:hover .dropdown-menu{
	display: block;	
  }
  .header {
    background-image: url(../img/Wanderers.jpg); 
    width: 100%;
    min-height: 750px;
    margin-bottom: -200px;
    padding-top: 110px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  .demos-wrap {
    /*position: relative;*/
    /*width: 100%;*/
    max-width: 1296px;
    margin: 0 auto;
    padding: 50px 30px 20px 30px;
    background-color: #fff;
    box-shadow: 0 7px 30px -6px rgba(0, 0, 0, .15);
    z-index: 2;
  }
  
  .rounded {
  	border-radius: 10px;
  }
  .box-shadow {
  	box-shadow: 0 7px 30px -6px rgba(0, 0, 0, .15);
  }
  .secdiv {
  	margin-bottom: 20px;
  }
  .secdiv div {
  	height: 260px;
  	background-position: center;  	
  	/*width: 100%;*/
  	background-size: cover;
 	position: relative;
  }  
  .mesgdiv {  	
  	background-color: #000;	
 	opacity: .4;  
 	position: absolute;	
 	display: none;
 	z-index: 3; 		
  }
  .mesg {  	
  	position: absolute;
  	top: -150px;
  	font-size: 30px;
  	color: white;
  	display: none;
  	z-index: 4;
  }
  .secdiv div:hover .mesgdiv {
  	display: block;
  }
  .secdiv div:hover .mesg {
  	display: block;
  }
  section h4 {
  	margin: 20px 0;
    color:#9D9D9D;
  }
  .secdiv button {
    border-radius: 10px;
  }
  .animate-box{ 	
    opacity: 0;      
    animation: fade-in 2s ease 0s 1;    
    -webkit-animation: fade-in 2s ease 0s 1;
    -moz-animation: fade-in 2s ease 0s 1;
    -o-animation: fade-in 2s ease 0s 1;
    -ms-animation: fade-in 2s ease 0s 1;
    
    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
  }
  @keyframes fade-in{  
    0%{ opacity: 0;}
    100%{opacity:1;}
  }
  @-webkit-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
  }
  @-ms-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
  }
  @-o-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
  }
  @-moz-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
  }
  .modal-dialog{
    width: 80%;
  	margin: 0 auto;
  }
  @media screen and (max-width: 650px) {
  	.modal-dialog{
  		width: 100%;
  	}
  }
  .modal-dialog iframe{
 	 width: 100%;
  	height: 800px;
  }

article{
	margin: 45px 0;
}

article h2{
	text-align: center;
	font-family: "comic sans ms";
	font-size: 35px;
	margin-bottom: 30px;
}
.rowimg img{
	width: 300px;
}
.meg{
	margin-top: 30px;
	color: #555555;
	font-size: 16px;
}
.mesgrow{
	margin-bottom: 50px;
}


.boximg img{

	width:100% ;
}
.boxtex{
 margin: 0 auto;
}
.boxt{

	margin-bottom: 50px;	
}
.boxt p{
	line-height: 30px;
	font-size: 15px;
	color: #848484;
	margin-top: 20px;
}

.boxtext{
	border: 1px solid gainsboro;
	/*box-shadow:0px 0px 3px gainsboro;*/
	box-shadow: 0 7px 30px -6px rgba(0, 0, 0, .15);
	padding: 25px 30px 0 30px;
}
.boxtext h3 a{
	color: #676767;
	font-size: 20px;
	transition: 0.3s;
}
.boxtext h3 a:hover{
	text-decoration: none;
	color:#6495ED;
}
.boxtext span{

	font-size: 20px;
	color: #B6B6B6;
}



footer{
	width: 100%;
	background-color: #2F3032;
}
.ftdiv1{
	margin: 0 auto;
	width: 75%;
}
.ftdiv1 h3{
	color: white;
}
.ftdiv1 ul{
	padding: 0;
}
.ftdiv1 li{
	list-style-type: none;

}
.ftdiv1 li a{
	line-height: 40px;	
	color: #828384;
	font-size: 16px;
}
.ftdiv1 li a:hover{
	text-decoration: none;
	color: #337AB7;
}
.follow{
	width: 20px;
	height: 20px;
}
.ftdiv2{
	width: 100%;
}
.ftdiv2 hr{
	border: 1px solid #828384;
	
}
.ftdiv2 p{
	color: #828384;
}